# Neon Postgres database connection string format:
# postgresql://[user]:[password]@[neon_hostname]/[dbname]?sslmode=require
DATABASE_URL="postgresql://user:password@ep-cool-project-123456.us-east-2.aws.neon.tech/neondb?sslmode=require"

# FastAPI ML Model Service endpoint
MODEL_SERVICE_URL="http://localhost:8000"

# Express API Port
PORT=4000
