# Neon Postgres database connection string format:
# postgresql://[user]:[password]@[neon_hostname]/[dbname]?sslmode=require
DATABASE_URL="postgresql://neondb_owner:npg_zPXZH6BE7yUD@ep-lingering-band-axdroi2g-pooler.c-4.us-east-2.aws.neon.tech/neondb?sslmode=require&channel_binding=require"

# FastAPI ML Model Service endpoint
MODEL_SERVICE_URL="http://localhost:8000"

# Express API Port
PORT=4000
